
</main>


<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Sales Record by Waqar Mohammad
    </p>
  </div>
</footer>
<script src="/js/main.js"></script>
<script src="/js/luxon.min.js"></script>
</body>
</html>

