<% if(expenses) { %>
<table class="table is-bordered is-striped is-hoverable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <% for(var el in expenses) {%>
            <tr>
                <th><%= expenses[el].name %></th>
                <td>£ <%= expenses[el].amount %></td>
            </tr>
        <% } %>
        <tr>
            <th>Total</th>
            <td>£ <%= expensesWeeklyTotal %></td>
        </tr>
    </tbody>
</table>
<% } else { %>
      <h1>no data</h1>
<% } %>