<table class="table is-bordered is-striped is-hoverable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <% for(var el in employees) {%>
            <tr>
                <th><%= employees[el].name %></th>
                <td><%= employees[el].amount %></td>
            </tr>
        <% } %>
        <tr>
            <th>Total</th>
            <td>£100</td>
        </tr>
    </tbody>
</table>