<table class="table is-bordered is-striped is-hoverable">
    <thead>
    <tr>
        <th>Details</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Gross Profit</td>
            <td id="weeklyTotal"></td>
        </tr>
        <tr>
            <td>Wages Total</td>
            <td id="weekCalcWages"><%= wagesTotal %></td>
        </tr>
        <tr>
            <td>Expenses Total</td>
            <td id="weekCalcExpenses"><%= expensesWeeklyTotal %></td>
        </tr>
        <tr>
            <th>Net Profit</th>
            <td id="netProfit"></td>
        </tr>
    </tbody>
</table>