<%- include('inc/header') %>

<div class="container">
    <table class="table is-bordered is-striped is-hoverable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <% for(var res in expense) {%>
                <tr>
                    <th><%= expense[res].name %></th>
                    <td>£10</td>
                </tr>
            <% } %>
            <tr>
                <th>Total</th>
                <td>£100</td>
            </tr>
        </tbody>
    </table>
</div>

<%- include('inc/footer') %>