<%- include('../inc/header') %>

<div class="container">
    <div class="columns is-centered">
        <div class="column is-half">
            <h1 class="title is-title">Add Daily Cash &amp; Charge</h1>
        </div>
    </div>

    <div class="columns is-centered">
        <div class="column is-half">
            <form action="/add/cash-charge" method="post">
                <div class="field">
                    <label for="date" class="label">Date</label>
                    <div class="control">
                        <input name="date" id="date" class="input" type="date" >
                    </div>
                </div>
                <div class="field">
                    <label for="name" class="label">Cash</label>
                    <div class="control">
                        <input name="cash" id="cash" class="input" type="text" placeholder="Cash">
                    </div>
                </div>
                <div class="field">
                    <label for="name" class="label">Charge</label>
                    <div class="control">
                        <input name="charge" id="charge" class="input" type="text" placeholder="Charge">
                    </div>
                </div>
                <div class="field is-grouped is-pulled-right">
                    <div class="control m-t-20">
                        <button class="button is-success" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


<%- include('../inc/footer') %>