<%- include('../inc/header') %>

<div class="container">
    <h1 class="title is-title">Update Expense Type</h1>
</div>

<div class="columns is-centered">
    <div class="column is-half">
        <form action="/update/expense-type/<%=id%>" method="post">
            <div class="field">
                <label for="name" class="label">Expense Type</label>
                <div class="control">
                    <input name="expense" id="expense" class="input" type="text" value="<%= name %>">
                </div>
            </div>
            <div class="field is-grouped is-pulled-right">
                <div class="control">
                    <button class="button is-link" type="submit">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>


<%- include('../inc/footer') %>